* {
    box-sizing: border-box;
}

/* Body is dark green to better see the area */
body{
    background-color: rgb(24, 49, 49);
}

/* Header color turns the top nav background to red */
header{
    background-color: brown;
}

/* This styles the H1 with my name  */
header h1{
line-height: 4em;
font-size: 20px; 
background-color: bisque;
display: inline;
padding-right: 1em;
padding-top: 15px;
padding-left: 5px;
margin: 13px;
text-align: center;
}
/* 
Moves the h1 in header to left side of the screen and justifys the layout between the anchor tag and h1 */
header div{
    display: flex;
    -ms-flex-align: start;
    justify-content: space-between
   
}
/* Styles the anchor tags and the background */
nav, a{
    padding: 2em;
    background-color: brown;
    text-decoration: underline;
    color: white;
    font-size: 20px;
}

/* Formats the header image */
header img{
    height: 600px;
    width: 100%;
    
}

/* This class is centered around a div above the image and is the relative position to add text above the image */
.box-relative{
    position: relative;
}

/* block css is absolute position of the h2 and goal is to position text at the center of the image.  */
header h2{
position: absolute;
top:40%;
bottom: 50%;
right:30%;
left: 30%;
color: white;
font-weight: bold;
font-size: 5em;

}


/* Thinking of have words come in and out of the image 
Add work ART for my Name Use Font Family*/

/* Main creates the container to format the child elements within the contatiner. Margins left and right helps contrain the width of the children elements*/
main{
    margin-left: 10%;
    margin-right: 10%;
}

/* About class is the flext element that allows the child h1 and p to justify center position each element side by side. 

Padding bottom expand the.about-me container*/
.about-me{
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding-bottom: 10em;

}

/* H1 has a boarder to the right to seperate the p tag text. Margin left move the h1 element away from the left side of the screen, increase font of the h1 text, and aligned the text to the right to move closer to boarder right.

Padding right creates space between the board and the text.*/

.about-me h1 {
    border-right: solid black;
    margin-left: 10%;
    font-size: 30px;
    text-align: right;
    padding-bottom: 1em;
    margin-top: 1em;
    padding-right: 14px;
}

/* P tag margin top is increas to better position text next to the h1 black boarder. padding left and right ensure p tag text is position in the middle of the block. 

Line height create space between the lines of the text.*/

.about-me p{
    margin-top: 2em;
    padding-left: 20px;
    padding-right: 10px;
    line-height: 1.5;
}

.flex-container-2{
    display: flex;
    justify-content: left;
    background-color: aqua;
}

.flex-container-2 h1 {

    border-right: solid black;
    margin-left: 10%;
    font-size: 30px;
    text-align: right;
    padding-bottom: 1em;
    margin-top: 1em;
    padding-right: 14px;
    margin-right: 20px;
}


.box-1{
    padding-right: 100%;
    height: 20em;
    background-color: aqua;
    border: solid black;
    width: 1em;
    margin-bottom: 10px;
} 

 
.flex-container-3{
    display: flex;
    /* justify-content:space-between; */
    justify-content: space-evenly;
    width: 60em;
    
   
}



.box-2,
.box-3,
.box-5,
.box-6{
    height: 10em;
    background-color: aqua;
    /* padding: 20px; */
    border: solid black;
    width: 30em;
    margin: 9px;
   
}
footer{
    background-color: blanchedalmond;
    height: 20em;
    margin-left: 10%;
    margin-right: 10%;
    
}